.victorPhoto {
    /* margin-top: 15px; */
    width: 560px;
    min-height: 100vh;
    background-image: url("/public/Assets/crew/image-victor-glover.png");
    transform: scale(0.88) translateX(0vw);
    background-repeat: no-repeat;
}