@font-face {
  font-family: "Barlow";
  /*Can be any text*/
  src: local("Barlow"),
    url('./Fonts/Barlow/Barlow-Light.ttf') format("truetype");
}


@font-face {
  font-family: "Bellefair";
  /*Can be any text*/
  src: local("Bellefair"),
    url('./Fonts//Bellefair/Bellefair-Regular.ttf') format("truetype");
}

.App {
  position: relative;
}